/*...body {
    width: 960px;
    margin: 0 auto;}
    #content {
    overflow: auto;
    height: 100%;}
    #nav, #feature, #footer {
        background-color: #efefef;
        padding: 10px;
        margin: 10px;}
        .column1, .column2, .column3 {
            background-color: #efefef;
            width: 300px;
            float: left;
            margin: 10px;}
            li {
                display: inline;
                padding: 5px;}..*/
    /*....    body {
                    width: 90%;
                    margin: 0 auto;}
                    #content {overflow: auto;}
                    #nav, #feature, #footer {
                    margin: 1%;}
                    .column1, .column2, .column3 {
                        width: 31.3%;
                        float: left;
                        margin: 1%;}
                        li {
                            display: inline;
                            padding: 0.5em;}
                            #nav, #footer {
                            background-color: #efefef;
                            padding: 0.5em 0;}
                            .column3 {margin-right: 0%;}
            
                                #feature, .article {
                                height: 10em;
                                margin-bottom: 1em;
                                background-color: #efefef;}
                                #feature , #footer {
                                    text-align: center;
                                } ...*/

                               /*.... * {
                                    font-family: Arial, Verdana, sans-serif;
                                    color: #665544;
                                    text-align: center;}
                                    #nav, #feature, .article, #footer {
                                    background-color: #efefef;
                                    margin-top: 20px;
                                    padding: 10px 0px 5px 0px;}
                                    #feature, .article {
                                    height: 100px;}
                                    li {
                                    display: inline;
                                    padding: 5px;}...*/
                                    .button {
                                        height: 36px;
                                        background-image: url("Exercises of CSS/images/images (1).png");
                                        text-indent: -9999px;
                                        display: inline-block;}
                                        #add-to-basket {
                                            width: 174px;
                                            background-position: 0px 0px;}




