
    body {
    color: #ffffff;
    background: #413f3b url("images/pic.jpg");
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 90%;
    margin: 0px;
    text-align: center;
    }
    a {
    color: #b5c1ad;
    text-decoration: none;}
    a:hover {
    color: #ffffff;}
    .header {
        padding: 0px 0px 0px 0px;
        height: 100px;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 50;
    background-color: #333231;}
    .nav {
        float: right;
        font-family: 'Quicksand', sans-serif;
        padding: 45px 0px 0px 0px;
text-align: right;
padding-right: 170px;}
        
.wrapper {
width: 1060px;
margin: 0px auto;
background-repeat: no-repeat;
background-position: 0px 0px;
text-align: left;}

   .img{ margin-top: 40px;
padding-right: 350px;}

  
                            h1, h2 {
                                font-family: 'Quicksand', sans-serif;
                                 font-weight: normal;
                                text-transform: uppercase;}
                                h1 {
                                font-size: 240%;
                                margin-top: 140px;
                            padding-left:500px;
                        padding-bottom: -100px;}
                    .date{
                         float: right;} 
                         .tri{
                             padding-left: 100px ;
                            padding-bottom: 60px;
                            margin-top: -60px;
                         }
                         .tri2{
                            z-index: -1px; 
                            position: absolute;
                            margin-top: -190px;
                         }
                         
                        .more-articles {
                    margin-left: 170px;}
                       
                       .more-articles p {
                        border-bottom: 1px solid #807c72;
                        padding-right: 50px;
                        padding: 5px 15px 15px 15px;

                        font-size: 80%;}
                        .more-articles p:last-child {
                            border-bottom: none;}
                            .footer {
                                clear: both;
                                background: rgba(0, 0, 0, 0.2);
                                padding: 5px 10px;}
                                .footer p {
                                font-family: Helvetica, Arial, sans-serif;
                                font-size: 75%;
                                text-align: right;}
                                .footer a {
                                color: #807c72;}
                                .colum1{
                                    float: left;
                                    margin: 1%;
                                }
                                .colum2{
                                    float: left;
                                    margin: 1%;

                                }
                                .colum3{
                                    margin: 1%;
                                    float: left; 
                                }
                                .colum4{
                                    margin: 1%;
                                    float: left; 
                                }
                                